body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  
  background-color: cornsilk;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: coral;
}



h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  
  background-image: url('photo-1530908295418-a12e326966ba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-header{
  margin-top: 0;
}
svg{
  margin-top: 5px;
}




